/TAGS
/*.nix
/dist/
/dist-newstyle/
/output/
/.hpc/
/.vscode/
/misc/win7-taskbar/Taskbar.suo
/misc/win7-taskbar/bin/
/misc/win7-taskbar/obj/
/docs/manual/_shake/
/docs/manual/_build/
/website/output/
/website/.stack-work/
/.stack-work/
/stack.yaml
/issues
/hlint.html
/html/lib/
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
.ghc.environment.*
cabal-dev/
.hpc/
*.hi
*.o
*.p_hi
*.prof
*.tix
dist
dist-*
register.sh
./cabal.config
cabal-tests.log
bootstrap/*.plan.json

/Cabal/dist/
/Cabal/tests/Setup
/Cabal/Setup
/Cabal/source-file-list

/cabal-install/dist/
/cabal-install/Setup
/cabal-install/source-file-list

.stylish-haskell.yaml
.stylish-haskell.yml
.ghci
.ghcid

# Output of release and bootstrap
_build

# editor temp files

*#
.#*
*~
.*.swp
*.bak

# GHC build

Cabal/GNUmakefile
Cabal/dist-boot/
Cabal/dist-install/
Cabal/ghc.mk


# TAGS files
TAGS
tags
ctags

# stack artifacts
/.stack-work/
stack.yaml.lock

# Shake artifacts
.shake*
progress.txt

# test files
register.sh

# windows test artifacts
cabal-testsuite/**/*.exe
cabal-testsuite/**/*.bat

# python artifacts from documentation builds
*.pyc
.python-sphinx-virtualenv/
/doc/.skjold_cache/

# macOS folder metadata
.DS_Store

# benchmarks
bench.html

# Emacs
.projectile

# Idris 2
*.ttc
*.ttm

# Idris 1
*.ibc
*.o

*.ibc
*.ttc
*.ttm
*.o
*.d
*.a
*.dll
*.dylib

/build

/lib

idris2docs_venv
/docs/build
site/code/build
/libs/**/build
/ipkg/build

/tests/**/build
/tests/**/output*
/tests/**/*.so
/tests/**/*.dylib
/tests/**/*.dll
/tests/failures

/benchmark/**/build
/benchmark/*.csv

/bootstrap-build

/src/IdrisPaths.idr

/custom.mk

# NixOS
/result

# Editor/IDE Related
# WARNING:
#   do not put comments on the same line as a regex
#   git seems to ignore the pattern in this case

# Vim swap file
*~
*.*.swp
# Emacs swap file
.\#*
# VS Code
.vscode/*

# macOS
.DS_Store