pre {
    background-color: #F5FCFF;
}

.dark pre {
    background-color: #393c31;
}

code {
    background-color: #F5FCFF;
    color: #268BD2;
}

.dark code {
    background-color: #393c31;
    color: #8eccf1;
}


/* KeyWordTok */
.sourceCode .kw { color: #268BD2; }

.dark .sourceCode .kw { color: #268BD2; }

/* DataTypeTok */
.sourceCode .dt { color: #d5d09f; }

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #AE81FF; }
/* CharTok */
.sourceCode .ch { color: #37ad2d; }
/* StringTok */
.sourceCode .st { color: #37ad2d; }
/* CommentTok */
.sourceCode .co { color: #7E8E91; }
/* OtherTok */
.sourceCode .ot { color: #EB005B; }
/* AlertTok */
.sourceCode .al { color: #A6E22E; font-weight: bold; }
/* FunctionTok */
.sourceCode .fu { color: #d5d09f; }
/* RegionMarkerTok */
.sourceCode .re { }
/* ErrorTok */
.sourceCode .er { color: #E6DB74; font-weight: bold; }
