<header>
    <nav>
        <a id="beacon" href="/">
            <div id="home-text"> HOME </div>
        </a>
    </nav>

    <div class="right-sidebar">

        {{#twitterHandle}}
        <a class="ext-link" href="https://twitter.com/{{twitterHandle}}">
            <img src="/images/twitter-logo.png" alt="Twitter Profile"/>
        </a>
        {{/twitterHandle}}
        <a class="ext-link" rel="me" href="https://mathstodon.xyz/@zanzi">
            <img src="/images/mastodon-logo.svg" alt="Mastodon Profile"/>
          </a>        
    <div id="theme-button">DAY</div>
    </div>
</header>
